[submodule "MOM6"]
  path = MOM6
  url = https://github.com/mnlevy1981/MOM6.git
  fxDONOTUSEurl = https://github.com/mnlevy1981/MOM6.git
    fxtag = avoid_zero_chl
    fxrequired = AlwaysRequired

[submodule "stochastic_physics"]
  path = externals/stochastic_physics
  url = https://github.com/ESCOMP/stochastic_physics.git
  fxDONOTUSEurl = https://github.com/ESCOMP/stochastic_physics.git
    fxtag = ocn_skeb_240807
    fxrequired = AlwaysRequired

[submodule "MARBL"]
  path = externals/MARBL
  url = https://github.com/mnlevy1981/MARBL.git
  fxDONOTUSEurl = https://github.com/mnlevy1981/MARBL.git
    fxtag = bugfix/nhx_surf_emis_may_divide_by_zero
    fxrequired = AlwaysRequired

